body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .full-background {
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-basis: 346px;
    height: 449px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
  }
  
  .logo-container {
    margin-bottom: 20px;
  }
  
  .logo {
    max-width: 200px;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .whatsapp-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #25d366;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .whatsapp-button:hover {
    background-color: #22c65b;
  }
  